<!DOCTYPE html>
<html lang="es" ng-app="adoptaTuMascotaApp">

<head>
    <meta charset="utf-8">
    <title>Adopta tu mascota</title>
    <link rel="stylesheet" href="_comun/recursos/css/style.css" />
    <link rel="stylesheet" href="_comun/recursos/css/mystyle.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/ngGallery/src/css/ngGallery.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="_comun/recursos/css/social-share-kit.css">
    <link href='https://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="_comun/recursos/images/Tourism-icon-3.png" sizes="32x32">
    <meta name="description" content="Aplicación donde podrás buscar una nueva mascota" />
    <meta name="author" content="Alexis Martínez Chacón" />
    <meta name="application-name" content="AdoptaTuMascotaJS" />
    <meta name="Keywords" content="AngularJS, Pet, Mascota, Adopta" />
    <!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
    <!--[if IE]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
</head>

<body>
    <div id="principal" ng-controller="ComunCtrl as comun">

        <header>
            <div class="wrapper" ng-cloak>
                <h1><a ng-href="#/" id="brand" title="ABC comp">ABC comp</a></h1>
                <nav>
                    <ul ng-controller="MenuCtrl as menu">
                        <li>
                            <a ng-href="#/" ng-class="{activeMenu: menu.isActive('/')}">Inicio</a>
                        </li>
                        <li ng-if="auth" >
                            <a href="search.html">Perfil</a>
                        </li>
                        <li ng-if="auth" >
                            <a href="search.html">Favoritos</a>
                        </li>
                        <li ng-if="auth" >
                            <a ng-href="#/{{'new'}}">Nuevo</a>
                        </li>
                        <li>
                            <a href="search.html">Accessories</a>
                            <ul class="sub-menu">
                                <li><a href="search.html">Shoes</a></li>
                                <li><a href="search.html">Hats</a></li>
                                <li><a href="search.html">Bags</a></li>
                                <li><a href="search.html">Scarves</a></li>
                                <li><a href="search.html">Jewellery</a></li>
                                <li><a href="search.html">Gloves</a></li>
                            </ul>
                        </li>
                        <li><a href="search.html">Sobre nosotros</a></li>
                        <li><a href="search.html">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <aside id="top">

            <div ng-controller="RegistroCtrl as registroCtrl" class="wrapper" ng-cloak>
                <ul id="social">
                    <li><a href="#" class="facebook" title="like us us on Facebook">like us us on Facebook</a></li>
                    <li><a href="#" class="twitter" title="follow us on twitter">follow us on twitter</a></li>
                </ul>
                <div ng-if="!auth" id="action-bar"><a ng-href="#/{{'login'}}">Entrar/Registrar</a></div>
                <div ng-if="auth" id="action-bar" class="colorText"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                     Bienvenido {{usuarioLogged.nombre}} <a ng-href="#" ng-click="registroCtrl.logout()"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;
                        Cerrar sesión</a></div>
            </div>
        </aside>
        <div class="view-animate-container" ng-cloak>
            <growl-notifications></growl-notifications>
            <div ng-repeat="(id, notification) in notifications track by id">
                <growl-notification ttl="10000" ng-bind="notification">

                </growl-notification>
            </div>
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="loading"></span>

                <div ng-view>
                    <!-- AQUI VA EL CUERPO DE CADA PÁGINA -->
                </div>

        </div>
    </div>
    <footer>
        <div class="wrapper">
            <span class="logo">alemarcha</span>
            <a href="http://www.webdezign.co.uk" target="_blank" title="web design london" class="right">Web design london</a>&copy; ABC comp <a href="#">Sitemap</a> <a href="#">Terms &amp; Conditions</a> <a href="#">Shipping &amp; Returns</a> <a href="#">Size Guide</a><a href="#">Help</a>
            <br /> Address to said DESARROLLO comp, including postcode &nbsp;-&nbsp; 1.888.CO.name <a href="mailto:ABC comp">info@adoptatumascota.com</a>
        </div>
    </footer>

    <!-- BOWER COMPONENTS -->

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-growl-notifications/dist/angular-growl-notifications.js"></script>
    <script src="/bower_components/satellizer/satellizer.min.js"></script>
    <script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="/bower_components/jstz-detect/jstz.min.js"></script>
    <script src="/bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
    <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/bower_components/ngGallery/src/js/ngGallery.js"></script>


    <script src="_comun/recursos/js/dirPagination.js"></script>
    <script src="_comun/recursos/js/spin.js"></script>
    <script src="_comun/recursos/js/angular-spinner.min.js"></script>



    <!-- CONFIG -->
    <script src="_comun/app.js"></script>
    <script src="_comun/httpLog.js"></script>
    <script src="_comun/appSecurity.js"></script>
    <script src="_comun/constants.js"></script>

    <!-- CONTROLLERS -->
    <script src="comun/controller/comunCtrl.js"></script>
    <script src="registro/controller/registroCtrl.js"></script>
    <script src="menu/controller/menuCtrl.js"></script>
    <script src="element/controller/elementCtrl.js"></script>
    <script src="main/controller/centralCtrl.js"></script>
    <script src="altaElemento/controller/newElementCtrl.js"></script>
    <script src="editarElemento/controller/editarElementoCtrl.js"></script>

    <!-- FACTORY -->
    <script src="main/factory/centralFactory.js"></script>
    <script src="element/factory/elementFactory.js"></script>
    <script src="altaElemento/factory/altaElementoFactory.js"></script>
    <script src="editarElemento/factory/editarElementoFactory.js"></script>
    <script src="registro/factory/auth.js"></script>

    <!-- SERVICE -->
    <script src="comun/service/comunService.js"></script>
    <script src="element/service/elementService.js"></script>



</body>

</html>
