<article id="grid">
    <div id="breadcrumb"><a ng-href="#/">Home</a> > <a href="search.html">Dresses</a>
        <h1>Summer Dress</h1></div>
    <header>
        <div class="paging">
            <dir-pagination-controls direction-links="true" on-page-change="central.pageChangeHandler(newPageNumber)" template-url="main/view/dirPagination.tpl.html" max-size="8" pagination-id="drinksPagination"></dir-pagination-controls>
        </div>
        <form action="#">
            <select onchange="javascript:addSort();" name="sortBy" id="sortBy">
                <option value="">Todos</option>
                <option value="PriceHiLo">Desaparecidos</option>
                <option value="PriceLoHi">Encontrados</option>
                <option value="pID">Se regalan</option>
            </select> &nbsp; Mostrando {{central.numElementInitial}} - {{central.numElementFinal}} de {{central.numTotalElements}} mascotas
            <input type="text" placeholder="Search ABC comp..." />
            <button type="submit">Search</button>
        </form>

    </header>
    <ul id="items">
        <li dir-paginate="item in central.items|itemsPerPage:central.pageSize" current-page="central.currentPage" total-items="central.numTotalElements" pagination-id="drinksPagination">
            <span class="sale" ng-show="{{item.valor%2 === 0}}">Sale</span>
            <a title="{{item.name}}" ng-href="#/element/{{item._id}}"><img ng-if="item.imagenPrincipal" ng-src="/imgs/{{item._id}}/_preview_{{item.imagenPrincipal}}" onerror="this.src='_comun/recursos/images/thumb1.jpg'" alt="Elegant evening Dress" /><img ng-if="!item.imagenPrincipal" ng-src="_comun/recursos/images/thumb1.jpg" alt="Elegant evening Dress" /></a>
            <a ng-href="#/element/{{item._id}}" class="title">{{item.name}}</a>
            <strong title="{{item.description}}" class="subtitle">&pound;{{item.description}}</strong>
        </li>
    </ul>
    <footer>
        <div class="paging">
            <dir-pagination-controls direction-links="true" on-page-change="central.pageChangeHandler(newPageNumber)" template-url="main/view/dirPagination.tpl.html" max-size="8" pagination-id="drinksPagination"></dir-pagination-controls>
        </div>
    </footer>
</article>
