<article id="grid">
	<div id="breadcrumb"><a ng-href="#/">Home</a> > <a href="search.html">Dresses</a> <h1>Summer Dress</h1></div>
    <header>
         
        <div class="paging"> 
            <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="central.pageChangeHandler(newPageNumber)"             template-url="es/alemarcha/mascota/main/view/dirPagination.tpl.html" max-size="7" pagination-id="drinksPagination" ></dir-pagination-controls>
        </div>
        <form action="#" >
        <select onchange="javascript:addSort();" name="sortBy" id="sortBy">
            <option value="">Todos</option>
            <option value="PriceHiLo">Desaparecidos</option>
            <option value="PriceLoHi">Encontrados</option>
            <option value="pID">Se regalan</option>
        </select> &nbsp; Mostrando {{central.numElementInitial}} - {{central.numElementFinal}} de {{central.numTotalElements}} animales
        </form>
    </header>
    <ul id="items">
        <li dir-paginate="item in central.items|itemsPerPage:central.pageSize" current-page="central.currentPage" total-items="central.numTotalElements" pagination-id="drinksPagination">
            <span class="sale" ng-show="{{item.valor%2 === 0}}">Sale</span>
            <a ng-href="#/element/{{item.id}}"><img src="images/thumb.png" alt="Elegant evening Dress"/></a>
            <a ng-href="#/element/{{item.id}}" class="title">{{item.titulo}}</a>
            <strong>&pound;{{item.valor}}</strong>
        </li>
    </ul>
    <footer>
        <div class="paging">
             <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="central.pageChangeHandler(newPageNumber)" template-url="es/alemarcha/mascota/main/view/dirPagination.tpl.html" max-size="7" pagination-id="drinksPagination" ></dir-pagination-controls>
        </div>
    </footer>
</article>