<article id="address">
    <div id="container">
        <form id="formlogin" name="formLogin" ng-submit="registro.login(formLogin);">
            <h1>Entrar</h1>

            <p><label for="email">Email</label>
                <input ng-model="registro.usuario.email" id="email" type="email" name="email" required="true"/><span
                        class="alert">*</span></p>

            <p><label for="password">Password</label>
                <input ng-model="registro.usuario.password" id="password" type="password" name="password"
                       required="true"/><span class="alert">*</span></p>

            <p>
                <button>Entrar</button>
                <a href="#">Olvidé mi contraseña</a></p>
        </form>
        <form id="register" name="register" ng-submit="registro.register(ship);">
            <h1>Registrar</h1>

            <p><label for="emailRegister">Email</label>
                <input type="email" ng-model="registro.usuarioRegisto.email" id="emailRegister" name="emailRegister"
                       required="true"/><span class="alert">*</span></p>

            <p><label for="paswordRegister">Password</label>
                <input type="password" ng-model="registro.usuarioRegisto.password" id="paswordRegister"
                       name="paswordRegister" required="true"/><span class="alert">*</span></p>

            <p>
                <label for="shipFName">Nombre:</label>
                <input name="shipFName" type="text" ng-model="registro.usuarioRegisto.name" id="shipFName"
                       required="true"><span class="alert">*</span>
            </p>

            <p>
                <label for="shipLName">Apellidos:</label>
                <input id="shipLName" type="text" name="shipLName" ng-model="registro.usuarioRegisto.lastname"
                       required="true"><span class="alert">*</span>
            </p>

            <p>
                <label for="shipAddress1">Dirección:</label>
                <input name="shipAddress1" type="text" id="shipAddress1" ng-model="registro.usuarioRegisto.address"
                       required="true"><span class="alert">*</span>
            </p>

            <p>
                <label for="shipCity">Ciudad:</label>
                <input name="shipCity" type="text" id="shipCity" ng-model="registro.usuarioRegisto.city"
                       required="true"><span class="alert">*</span>
            </p>

            <p>
                <label for="shipCountry">País:</label>
                <input name="country" type="text" id="country" ng-model="registro.usuarioRegisto.country"
                       required="true"><span class="alert">*</span></p>
            </p>
            <label>&nbsp;</label>
            <button type="submit" class="continue">Registrar</button>
            </p>
        </form>
    </div>
</article>


