<article id="login">
	<form>
    	<h1>Existing customers</h1>
        <p><label for="email">Email</label>
        <input ng-model="registro.usuario.email" type="email" name="email" /></p>
        <p><label for="pasword">Password</label>
        <input ng-model="registro.usuario.password" type="password" name="password" /></p>
        <p><button ng-click="registro.entrar();" >Sign in</button> <a href="#">Forgotten password?</a></p>
    </form>
    <section>
    	<h2>New to ABC comp?</h2>
        <p><button type="button">Continue</button></p>
    </section>
</article>


