<article id="grid">

    <div id="container">
        <div id="breadcrumb"><a href="index.html">Home</a> > <a href="search.html">Dresses</a> > <a href="search.html">Summer Dress</a> > Summer Dress</div>
        <div id="description">
            <h1>{{element.elementoActual.name}} <button class="fa fa-star favorito"/></h1>
            <ul>

                <li title="{{element.elementoActual.dateFormat}}" class="fechas">
                    {{element.elementoActual.fromNow}} </li>
                <li>Autor: {{element.elementoActual.usuario.nombre}} {{element.elementoActual.usuario.apellidos}}</li>
                <li><a href="#tabs-2">{{element.elementoActual.type.categoria}} </a> / <a href="#tabs-2">{{element.elementoActual.raza}} </a></li>
            </ul>
            <p>{{element.elementoActual.description}} </p>

            <h1>Contacto</h1>
            <ul>
                <li>Telefono: {{element.elementoActual.phone}}</li>
                <li>Email: {{element.elementoActual.email}}</li>
                <li>Dirección: {{element.elementoActual.address}}</li>
            </ul>

            <div map-lazy-load="https://maps.google.com/maps/api/js">
                <ng-map zoom="15" center="{{element.elementoActual.address}}" style="width:600px; height:400px">
                    <marker position="{{element.elementoActual.address}}"></marker>
                    <marker position="{{element.elementoActual.address}}"></marker>
                </ng-map>
            </div>

            <p>
                <a class="fa fa-twitter fa-3" ng-href="javascript: return false;" socialshare socialshare-provider="twitter" socialshare-text="Compartiendo noticia {{element.elementoActual.name}}" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://adoptomimascota.com">

                </a>
            </p>
        </div>
        <div id="images">
            <a href="_comun/recursos/images/main.jpg"><img src="_comun/recursos/images/main.jpg"></a>
            <p>Rollover to zoom. Click to enlarge.</p>
            <span class="sale" ng-show="{{element.elementoActual.precio%2 === 0}}">Sale</span>
            <div id="productthumbs">
                <a href="#"><img src="_comun/recursos/images/thumb1.jpg" /></a>
                <a href="#"><img src="_comun/recursos/images/thumb2.jpg" /></a>
                <a href="#"><img src="_comun/recursos/images/thumb3.jpg" /></a>
            </div>
        </div>
    </div>
</article>
